body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  font-family: 'Calligraffitti';
  color: white;
  background-color: #3489f3;
  height: 65px;
  margin: 0;
}
h1 {
  margin: 0px 50px;
}
#myName {
  margin: 0px 160px;
}
a {
  color: inherit;
}

.searchBar {
  width: 400px;
  margin: 60px auto;
}
.inputField {
  width: 340px;
  height: 30px;
  margin: 0px 10px;
}
.searchBtn {
  height: 30px;
}

.tabularData {
    min-height: 400px;
    max-width: 200px;
    margin: auto;
    background: LightGray;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "image"
      "card";
    border: thick solid rgba(7, 137, 213, 0.6);
    box-shadow: 5px 5px rgba(7, 137, 213, 0.4),
    10px 10px rgba(7, 137, 213, 0.3),
    15px 15px rgba(7, 137, 213, 0.2),
    20px 20px rgba(7, 137, 213, 0.1),
    25px 25px rgba(7, 137, 213, 0.05);
}
.image {
  width: 200px;
  height: 200px;
  grid-area: image;
}
.weatherData1 {
  background-color: rgb(129, 238, 229);
  font-size: 25px;
  grid-area: card; 
  margin: 0;
  padding-left: 10px;
  height: 40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3489f3;
  color: white;
  text-align: center;
  margin: 0;
  font-family: monospace;
  font-size: 18px;
}