body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  font-family: 'Calligraffitti';
  color: white;
  background-color: #3489f3;
  height: 65px;
  margin: 0;
}
h1 {
  margin: 0px 50px;
}
#myName {
  margin: 0px 160px;
}
a {
  color: inherit;
}

.searchBar {
  width: 400px;
  margin: 60px auto;
}
.inputField {
  width: 340px;
  height: 30px;
  margin: 0px 10px;
}
.searchBtn {
  height: 30px;
}

.tabularData {
    min-height: 300px;
    max-width: 600px;
    margin: auto;
    background: LightGray;
    display: grid;
    grid-template-columns: auto auto 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "image image card"
      "card1 card2 card3";
}
.image {
  width: 400px;
  height: 200px;
  grid-area: image;
}
.weatherData1 {
  font-size: 25px;
  grid-area: card; 
  margin: 0;
}
.weatherData2{background:PaleTurquoise;}
.weatherData3{background:LightPink;}
.weatherData4{background:red;}
