body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  font-family: 'Calligraffitti';
  color: white;
  background-color: #3489f3;
  height: 65px;
  margin: 0;
}
h1 {
  margin: 0px 50px;
}
p {
  margin: 0px 160px;
}
a {
  color: inherit;
}